*{
    font-size: 17px;
}
#container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
    text-align: center;
}

#add_item{
    display: grid;
    text-align: center;
}

#overview{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

#transaction{
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: 10px;
}

#transaction:hover{
    background-color: rgb(186, 186, 186);
}

#budgeting{
    height: 100%;
    display:flex;
    flex-direction: column;
}

#date{
    width: 100px;
}

#details{
    width: 25%
}

#navbar{
    padding-bottom: 15px;
}

.navbar{
    font-size: 25px;
    text-decoration: none;
    margin-right: 8px;
    
}

.navbar:hover{
    color: blue;
}

body{
   margin-left: 15%;
   margin-right: 15%;
}

#transaction_filter{
    display: flex;
    width: 50%;
}

.filter{
    margin-right: 5px
}

.center_text{
    text-align: center;
    margin-bottom: 15px;
}

.budgeting_item{
    margin-bottom: 15px;
}

.income{
    color: green;
}

.credit{
    color: red;
}